<!DOCTYPE html>
<html ng-app = "app" >
    <head >
	
	
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../images/ico.ico" type="image/ico" />
        <title>Búsqueda</title>



       <script src="\..\javascripts\script_menu.js"></script>
		<script type="text/javascript" src="\..\javascripts\script_BusquedaCorrespondencia.js"></script>
	<script src="\..\javascripts\jquery-1.12.2.js"></script>
	<script src="\..\javascripts\jquery.validate.min.js"></script>
	<script src="\..\javascripts\moment-2.15.1.js"></script>
	<script src="\..\javascripts\bootstrap-3-3-7.min.js"></script>
	<script type="text/javascript" src="\..\javascripts\BootstrapMenu.js"></script>
	<script type="text/javascript" src="\..\javascripts\BootstrapMenu.min.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-3-3-7.min.css">
	<script src="\..\javascripts\bootstrap-datetimepicker-4.7.14.js"></script>
	<link rel="stylesheet" href="\..\stylesheets\bootstrap-datetimepicker-4.7.14.css">
	<!-- Angular--> 
	<script src="\..\javascripts\angular.min.js"></script>
        <script src="\..\javascripts\paginacion-bootstrap-tpls-2.2.0.js"></script>


    <script type="text/javascript" src="\..\javascripts\jquery.ui.position.js"></script>

    <script type="text/javascript" src=".\..\javascripts\jquery.contextMenu.js"></script>

<script src="\..\javascripts\validatePlugin.js"></script>

</head>

<body ng-controller = "ControllerAngular" >
	<div id="menuDiv"></div>

	<!-- Modal de MIAYUDA-->
	<div id="myAyuda" class="modal fade" role="dialog" style="margin: 0 auto; width:675px; height:500px;">
	<div class="well">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Ayuda</h4>
		</div>
		<div class="modal-body">
		<right>
                <tbody>
				Búsqueda de Correspondencia:<p>
					Para buscar una correspondencia se deberá escribir en el espacio correspondiente
					el asunto, numero de oficio, destinatario o remitente de la correspondencia, esto 
					dependiendo del criterio de búsqueda que selecciono y presionar el botón Buscar.
					Las correspondencias que estarán relacionadas apareceran en el cuadro que se 
					muestra en la página.<p>
					
				Ver Enlaces:<p>	
					En este apartado tambien podrá ver los enlaces que tienen las correspondencias
					presionando el botón Ver Enlaces de cada correspondencia.	
				</tbody> 
	       </right>
		
		</div>
		<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
		</div>
		</div>

	</div>
	</div>  <!-- fin del popup de ayuda --> 
	  
	<!---Cuerpo-->
	<body background="../images/situn4.png"  ng-init= "ini_Busqueda()">

      <div class="panel panel-danger" style="max-width: 96.5%; margin-left:15px" >
		 <div class="text-danger" style="margin-left:25px">
		 <h2 >Búsqueda de Correspondencia</h2> 
		 </div>
		</div>
		 <div class="text-danger" style="margin-left:20px">
		 <h4 >Tipo de Búsqueda</h4>
		 </div>
		 	
			<form class="navbar-form navbar-left">         
            <div   class="form-group "  style="width: 100%;">
				<select class="form-control" id="opBusqueda" ng-model = "criterio">
					<option value="Nº oficio">Nº Oficio
					<option value="Destinatorio">Destinatorio                                            
					<option value="Remitente">Remitente                                          
					<option value="Asunto">Asunto                                      
				</select> 
				<input type="text" class="form-control" id="buscar" ng-keyup= "($event.which == 13)?buscar():0" />
				<input type = "button" class="btn btn-default" id="buscar" value = "Buscar" ng-click="buscar()" />
				<input type = "button" class="btn btn-default" id ="cancelar" value = "Cancelar"  ng-click="clear()" />
				<span ng-show="correspondencias.length>0"  style="float:right;">
					<label>Mostrar </label>
					<select class="form-control" ng-model = "pageSize" convert-to-number>
					<option value="5">5
					<option value="10" >10                                           
					<option value="15">15                                         
					<option value="20">20                                     
				</select>
				<label>Resultados por página </label>
				</span>
				
			</div>
    
	
	<div  align="left" class="table table-bordered"  style="max-width: 100%; max-height:390px; margin-top:10px; border: hidden;  overflow-y:auto;">
	<table class="table" id="tabla_busqueda" ng-init='configPages()'>
		

<style type="text/css">
	a.disabled {
    pointer-events: none;
    font-color: gray;
    opacity: 0.4;

}
</style>

<!-- Tabla cargada al buscar correspondencias -->
		<thead> 
			<tr class="danger">
			<td># Oficio</td>
			<td>Fecha Oficio</td>
			<td>Fecha Recibido</td>
			<td>Asunto</td>
			<td>Destinatario </td>
			<td>Copia</td>
			<td>Remitente</td>			
			<td>Recibido</td>
			<td>Trasladado a</td>
			<td>Enlaces</td>
			<td>Edición</td>
			<td>Alarma</td>
			<td>Documento</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat='c in correspondencias | startFromGrid: (currentPage-1) * pageSize | limitTo: pageSize' >
					<td style="max-width: 9.6%;"> {{c.tc_3 }} </td>
					<td style="max-width: 7.7%;"> {{c.tc_4 | date:'dd/MM/yyyy'}} </td>
					<td style="max-width: 7.7%;"> {{c.tc_2 | date:'dd/MM/yyyy'}} </td>
					<td style="max-width: 9.6%;"> {{c.tc_8 }} </td>
					<td style="max-width: 9.6%;"> {{c.tc_5 }} </td>
					<td style="max-width: 9.6%;"> {{c.tc_6 }} </td>
					<td style="max-width: 9.6%;"> {{c.tc_7 }} </td>					
					<td style="max-width: 9.6%;"> {{c.tc_9 }} </td>
					<td style="max-width: 9.6%;"> {{c.tc_10 }} </td>
						<td style="max-width:5.8%;"> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal" ng-click="obtenerEnlaces(c)"><img src="../../../../images/enlace.png" width="20" height="20" /></button>
					</td>
					<td style="max-width:5.8%;"> 
						<!-- Trigger the modal with a button -->
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal2" ng-click="obtenerInformacion(c)"><img src="../../../../images/editar.png" width="20" height="20" /></button>
						
						
					</td>
					<td style="max-width:5.8%;"> 
						<!-- Trigger the modal with a button
<!-- TERMINAR	-->		
						
					
						<button type="button" class="btn btn-danger" data-toggle="modal"  ng-click="Alarma(c)"><img src="../../../../images/alarma.png" width="20" height="20" /></button>
					</td>
					<td style="max-width:5.8%;">
					
					<center><button id="demo2LeftBtn" data-toggle="modal" data-target="#myModal5" target="_blank" ng-click="AsignaUrl(c)"><img src="../../../../images/documento.png" width="32" height="32" /></button>	</center>
									
					</td>
			</tr>
			<tr ng-show="correspondencias.length<=0">
				<td  colspan="13">
					<center><p class="lead text-danger">No se han encontrado resultados</p></center>
				</td>
			</tr>
		</tbody>

	</table>
		
		</div>

			<div class='btn-group'>
    			<ul ng-show='correspondencias.length>0' class="panel-danger" uib-pagination total-items="totalItems" ng-model="currentPage" max-size="paginationSize" items-per-page="pageSize" ng-change='pageChanged()' class="pagination-sm" boundary-links="true" force-ellipses="true" previous-text="Anterior" next-text="Siguiente" last-text="Último" first-text="Primero"></ul>
        	</div>
      </div>
			
               </div>
      </form>
	  
<link rel="stylesheet" href="\..\stylesheets\validatePlugin.css">

<form name = "FormularioCorrespondencia" id="FormularioCorrespondencia">
	  <!-- popup editar correspondencia-->
	<!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>   
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Edición</h4>
      </div>
	  <center>
      <table id ="tablaIC">
                <tbody>
						<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Recibido</label>
				<td>
        			<div class='input-group date' id='datetimepicker55'>
          				<input type='text' class="form-control" id="IC1" name="IC1" data-toggle="tooltip" data-placement="right" title="Fecha invalida o mayot a la de oficio"/>
          				<span class="input-group-addon">
            				<span class="glyphicon glyphicon-calendar"></span>
          				</span>
        			</div>
				<td>
					
				</td>
			</tr>
                <tr>
                    <td> <label class="text-danger">N° Oficio</label> </td>
                    <td>
                     <div  id="div2" class="form-group">
                      <textarea id="IC2" name = "IC2" data-toggle="tooltip" data-placement="right" title="N° oficio imcompleto"type="text" class="form-control"></textarea>
					            <label class="text-danger" style="">
                        <input  type="checkbox" id="IC12" name= "IC12" onchange="checkCampoOficio()" value="first_checkbox">Sin Oficio
                      </label>
                    </div>
					</td>

					</tr>
                <tr>
                    <td> <label class="text-danger">Fecha Oficio</label></td>
                    <td> 
                    <div class='input-group date' id='datetimepicker66'>
          				    <input type='text' class="form-control" id="IC3" name="IC3" data-toggle="tooltip" data-placement="right" title="Fecha invalida o menor a la de recibido" />
          					  <span class="input-group-addon">
            					  <span class="glyphicon glyphicon-calendar" ></span>
          					  </span>
        				    </div>
					</td>
                </tr>
                <tr>
                    <td> <label class="text-danger">Destinatario </label></td>
                    <td>
                      <div id="div4" class="form-group">
                        <textarea id="IC4" name="IC4" data-toggle="tooltip" data-placement="right" title="Datos de destinatario imcompletos" type="text" class="form-control"></textarea>
                      </div>
                    </td> 
                </tr>
				        <tr>
                  <td> <label class="text-danger">Copia </label></td>
                  <td>
                    <div id="div5" class="form-group">
                      <textarea id="IC5" name="IC5" data-toggle="tooltip" data-placement="right" title="Datos de copia imcompletos" type="text" class="form-control"></textarea>
					            <label class="text-danger" style="">
                        <input  type="checkbox" id="check_SinCopia" name="check_SinCopia" value="first_checkbox" onchange="checkCampoCopia()">Sin Copia
                      </label>
                    </div>
                  </td>
			          </tr>
				        <tr>
                  <td> <label class="text-danger">Remitente </label></td>
                  <td>
                    <div id="div6" class="form-group">
                      <textarea type="text" class="form-control" id="IC6" name="IC6" data-toggle="tooltip" data-placement="right" title="Datos de remitente imcompletos"></textarea>
                    </div>
                  </td>               
			         </tr>
                <tr>
                    <td> <label class="text-danger">Asunto</label></td>
                    <td>
                      <div id="div7" class="form-group">
                        <textarea id="IC7" name="IC7" data-toggle="tooltip" data-placement="right" title="Datos de asunto imcompletos" type="text" class="form-control" rows=4 cols=30></textarea>
                      </div>
                    </td> 
                </tr>
				        <tr>
                  <td> <label class="text-danger">Recibido</label></td>
                  <td>
                    <div id="div8" class="form-group">
                      <input id="IC8" name="IC8" data-toggle="tooltip" data-placement="right" title="Datos de recibido imcompletos" type="text" class="form-control"  ng-model="usuario" disabled/> 
                    </div>
                  </td> 
                </tr>
				<tr>
                    <td> <label class="text-danger">Trasladado a</label></td>
                    <td><div id="div9"class="form-group"><textarea type="text" class="form-control" id="IC9" name="IC9" ></textarea></div></td> <!--****** NUEVO ***********-->
                </tr>
                <tr>
                    <td> <label class="text-danger">Observaciones</label></td>
                    <td>
                      <div id="div10" class="form-group">
                        <textarea type="text" class="form-control" id="IC10" name="IC10" ></textarea>
                      </div>
                    </td>
                </tr>
						</tbody>
		           </table>  
      <div class="modal-footer">
	    <center><button type="submit" class="btn btn-default" >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limpiarCampos()">Cerrar</button></center>	
      </div>
    </div>
  </div>
  </div>
</div>
</form> 
	
<link rel="stylesheet" href="\..\stylesheets\bootstrap-3-3-7.min.css">
	<!-- fin del popup editar correspondencia-->
	  <!-- Trigger the modal with a button -->
<!-- Modal -->
<div class="col-md-1"></div>	   
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">   
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Mostrando Enlaces de </h4>
			<h4 id="idEnlace"></h4>
		</center>
      </div>
      <div class="modal-body">
		<center>
			<table class="table">
			<thead>
			<tr class="danger">
				<td>
					<h3>Inferiores</h3>
				<td>
					<h3>Superiores</h3>
				<td>
					
				</td>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[0]">{{e}}</li>
						</div>
					</td>
					<td>
						<div>
							<li ng-repeat = "e in enlaces[1]">{{e}}</li>
						</div>
					</td>
				</tr>
			</tbody>
		</table> 
		</center>

      </div>
      <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>

	
	<!-- popup alarma-->
		   	    <!-- Modal -->
<!-- Modal -->
<div ></div>
	   
<form id="FormularioAlarma" name="FormularioAlarma">

<div id="myModal4" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Ajuste de Alarma </h4>	
		</center>
	  </div>
      <div id="divAjuste1" class="modal-body">
	  <center>
		 <label class="text-danger">Actualmente este oficio no cuenta con una alarma. Puede crear una nueva alarma completando los siguientes campos</label>
		</center>
      </div>	  
	   <div id="divAjuste2" class="modal-body" >   
	  <center>
		 <table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Aviso</label>
				<td>
					<div class='input-group date' id='datetimepicker7'>
          					<input type='text' class="form-control" id="IC16" name="IC16" />
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Fecha Limite</label>
				<td>
				<div class='input-group date' id='datetimepicker8'>
          					<input type='text' class="form-control" id="IC17" name="IC17" />
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar"></span>
          					</span>
        				</div>
				<td>
				</td>
			</tr>
			</thead>
			
		</table>
		</center>
      </div>
      <div class="modal-footer">
	  <center>
		<button id = "btnGd" type="submit" class="btn btn-default"   >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="limpiarCampos()">Cancelar</button>
      </center>
	  </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma-->   
	
	</form>
	<div ></div>
	   
<div id="myModal5" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
	 <div class="modal-content">
      <div class="modal-header">		
        <button type="button" class="close" data-dismiss="modal">&times;</button>
		<center>
			<h4>Archivo Adjunto </h4>	
		</center>
	  </div>
      
	   <div id="divAjuste2" class="modal-body" >   
	  <center>
		 <table class="table">
			<thead>
			<tr class="danger">
				<td>
					 <label class="text-danger">Ver Archivo Adjunto</label>
				</td>
					<td >
					
					
					<a id="abrirDoc" ng-href="{{url}}" class="btn btn-default" target="_blank" >Abrir Documento</a>
					
				</td>
			</tr>
			<tr class="danger">
				<td>
					 <label class="text-danger">Editar Archivo Adjunto</label>
					 
					<td> <div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-danger">
                        <img src="../../../../images/adjuntar.png" width="20" height="20" /> <input id ='adjun' onchange = "dato_Adjunto()" style="display: none;" accept=".pdf" type="file">
                    </span>
                </label>
                <input id='input_adjunto' class="form-control" readonly="" type="text" style="width:150px" disabled>
            </div>
				
				
				
			<!-- Fin Adjuntar -->
				</td>
        			
				
			</tr>
			</thead>
			
		</table>
		</center>
      </div>
      <div class="modal-footer">
	  <center>
		<button id = "btnGda" type="button" class="btn btn-default"   >Guardar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </center>
	  </div>
    </div>
  </div>
  </div>
	<!-- fin del popup Alarma--> 
<script type="text/javascript">

$(document).ready(function() {// Solicita la informacion de la sesion si aun no existe en el storage
	//$("#menuDiv").load("/HTML/menu", function(){$("#BDM").addClass("activa");}); 

	 solicitarInformacionDeSesion("#BDM");

	$("#ayuda").click(
	function(){$("#miAyuda").show();});
	

  
      });


let app = angular.module('app', ['ui.bootstrap']);
app.controller('ControllerAngular', controllerAngular); 
app.filter('startFromGrid', function() {
  return function(input, start) {
    start = +start;
    return input.slice(start);
  }
});

app.directive('convertToNumber', function() {
  return {
    require: 'ngModel',
    link: function(scope, element, attrs, ngModel) {
      ngModel.$parsers.push(function(val) {
        return parseInt(val, 10);
      });
      ngModel.$formatters.push(function(val) {
        return '' + val;
      });
    }
  };
});
/**
* Funciones de los calendarios de la pagina
**/
     //Calendario de la fecha de oficio
    $('#datetimepicker33').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
  
  //Calendario de la fecha de recibido
    $('#datetimepicker44').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
 
	//Calendario de la fecha de recibido
    $('#datetimepicker55').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
 
   //Calendario de la fecha de recibido
    $('#datetimepicker66').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });
  
 

function MB_03($scope)// Toma el tipo de busqueda y regresa el sufijo correspondiente a la dirección del servidor
{
	let op = $scope.criterio;
	console.log("El tipo de busqueda es por: |" + op + "|");
	switch(op)
	{
		case 'Nº oficio': // Oficio
			return 'BO';
		case 'Destinatorio': // Destinatario
			return 'BD';
		case 'Remitente': // Remitente
			return 'BR';
		case 'Asunto': // Asunto
			return 'BA';
	}
}  

function MB_04($scope) //Toma el criterio de busqueda y devuelve la columna que se debe buscar en la BD
{
	let op = $scope.criterio;
	switch(op)
	{
		case 'Nº oficio': // Oficio
			return 'TC_3';
		case 'Destinatorio': // Destinatario
			return 'TC_5';
		case 'Remitente': // Remitente
			return 'TC_7';
		case 'Asunto': // Asunto
			return 'TC_8';
	}
	
} 

   $('#datetimepicker7').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });

   $('#datetimepicker8').datetimepicker({
        format: 'DD-MM-YYYY', 
   		showClear:true
    });


 $('#FormularioCorrespondencia input, #FormularioCorrespondencia textarea').tooltipster({
        trigger: 'custom',
        onlyOne: false,
        position: 'right'
    });

 $('#FormularioAlarma input').tooltipster({
        trigger: 'custom',
        onlyOne: false,
        position: 'right'
    });


   validator = $('#FormularioCorrespondencia').validate({
          debug: true,
        errorPlacement: function (error, element) {
            $(element).tooltipster('update', $(error).text());
            $(element).tooltipster('show');
        },
         success: function (label, element) {
            $(element).tooltipster('hide');

        },
          rules: {
            IC1: { // Fecha de recibido
              required: true,
              menorIgualHoy: true
            },
            IC2: { // # de oficio
              required: true
            },
            IC3: { // Fecha de oficio
              required: true,
              menorIgualFecha:"#IC1"
            },
            IC4: { // Destinatario
              required: true
            },
            IC5: { // Copia 
              required: true
            },
            IC6: { // Remitente
              required: true
            },
            IC7: { // Asunto
              required: true
            },
            IC8: { // Recibido por
              required: true
            },
            IC9: { // Estado
              required: true
            }
          },
          messages: {
            IC1: {
              required: "Se requiere fecha de recibido",
              menorIgualHoy: "La fecha de recibido no puede ser mayor que hoy"
            },
            IC2: {
              required: "Se requiere número de oficio"
            },
            IC3: {
              required: "Se requiere fecha de oficio",
              menorIgualFecha: "La fecha de oficio no puede ser mayor que la fecha de recibido"
            },
            IC4: {
              required: "Se requiere destinatario"
            },
            IC5: {
              required: "Se requiere indicar la copia"
            },
            IC6: {
              required: "Se requiere remitente"
            },
            IC7: {
              required: "Se requiere asunto"
            },
            IC8: {
              required: "Se requiere por quien fué recibido"
            },
            IC9: {
              required: "Se requiere El estado del documento"
            }
          },
          submitHandler: function(form) {
             console.log('Intentando ingresar un Correspondencia'); 
             //botonGuardar();         
             angular.element($('#IC5')).scope().actualiza();  
            }
        });

		validatorAlarma = $('#FormularioAlarma').validate({
          debug: true,
        errorPlacement: function (error, element) {
            $(element).tooltipster('update', $(error).text());
            $(element).tooltipster('show');
        },
         success: function (label, element) {
            $(element).tooltipster('hide');

        },
          rules: {
            IC16: { // Fecha de Aviso
              required: true,
              mayorIgualHoy: true
            },
            IC17: { // Fecha Limite de aviso
              required: true,
              mayorIgualFecha:'#IC16'
            }
          },
          messages: {
            IC16: {
              required: "Se requiere fecha de recibido",
              menorIgualHoy: "La fecha de recibido no puede ser mayor que hoy"
            },
            IC17: {
              required: "Se requiere número de oficio",
              mayorIgualFecha: "Debe ser mayor que fecha de aviso"
            }
          },
          submitHandler: function(form) {
             console.log('Intentando ingresar una alarma'); 
             if(tmp1)
             	actualizarAlarma(tmp);
             else
             	nuevaAlarma(tmp);
             //botonGuardar();         
             //angular.element($('#IC5')).scope().guardarCorrespondencia();  
            }
        });


   $.validator.addMethod("menorIgualFecha",
        function(value, element, param) {
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date($(param).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            return (i <= j) ? true : false;
        }
    );
   $.validator.addMethod("mayorIgualFecha",
        function(value, element, param) {
            if(value == '' && $(param).val()=='') return true;
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date($(param).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            return (i >= j) ? true : false;
        }
    );
   $.validator.addMethod("menorIgualHoy",
        function(value, element, param) {
          if(param == false) return true;
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date();
            return (i <= j) ? true : false;
        }
    );

   $.validator.addMethod("mayorIgualHoy",
        function(value, element, param) {
          if(param == false) return true;
          if(value == '') return true;

          var date = new Date();
          var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
          var j = new Date(moment(new Date ).format('MM-DD-YYYY'));

            console.log(i);
            console.log(j);
            return (i >= j) ? true : false;
        }
    );

/*
var menu1 = new BootstrapMenu('#demo2LeftBtn',{
  menuEvent: 'click', // default value, can be omitted
  menuSource: 'element',
  menuPosition: 'belowLeft', // default value, can be omitted
  actions:[{
      name: 'Ver',
      onClick: function() {
       // toastr.info("'Action' clicked!");
      }
    }, {
      name: 'Editar',
      onClick: function() {document.location.href="#myModal2";
	  $("<a href='#myModal2'></a>").click(); 
	   //window.open('#myModal12');
	  console.log("e'#myModal12'ntro");
       // toastr.info("'Another action' clicked!");
      }
    }]
});
*/




</script>
    </body>
</html>