<!DOCTYPE html>
<html ng-app = "app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="shortcut icon" href="../images/ico.ico" type="image/ico" />
        <title>Ingreso Correspondencia</title>
     
<script src="\..\javascripts\script_menu.js"></script>
	<script type="text/javascript" src="\..\javascripts\script_IngresoCorrespondencia.js"></script>

  
			<script src="\..\javascripts\jquery-1.12.2.js"></script>
      <script src="\..\javascripts\jquery.validate.min.js"></script>
<script src="\..\javascripts\moment-2.15.1.js"></script>
<script src="\..\javascripts\bootstrap-3-3-7.min.js"></script>
<link rel="stylesheet" href="\..\stylesheets\validatePlugin.css">
<link rel="stylesheet" href="\..\stylesheets\bootstrap-3-3-7.min.css">
<script src="\..\javascripts\bootstrap-datetimepicker-4.7.14.js"></script>
<link rel="stylesheet" href="\..\stylesheets\bootstrap-datetimepicker-4.7.14.css">

	<!-- Angular--> 
	<script src="\..\javascripts\angular.min.js"></script>

  <script src="\..\javascripts\validatePlugin.js"></script>
  
	
   </head>
   
    <body  id = "buscar" data-ng-init = "init()">  

    <div id="menuDiv"></div>

	  <!-- **************** estilo de mensajes de error -->
	  
	   <style>
  /* Tooltip */
  .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  /* Tooltip on right */
  .test + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid black;
  }
  </style>
  
  
  <!-- Trigger the modal with a button -->
<!-- Modal -->
	  
<div id="myAyuda" class="modal fade" role="dialog" style="margin: 0 auto; width:675px; height:600px;"> 
  <div class="well">
   
    <!-- Modal content-->
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="text-danger">Ayuda</h4>
      </div>
      <div class="modal-body">
		<center>
                <tbody>
				Ingresar:<p>
				Se deberá llenar todos los campos requeridos de la izquierda de la
				página en forma correcta y luego presionar el botón Guardar.</p>
				
				Programar Alarma:<p>
				Si desea que la correspondencia a ingresar tenga una alarma, deberá
				llenar los campos de la fecha de aviso y fecha limite que se encuentra 
				al centro de la página antes de presionar el botón Guardar, cuando se 
				hayan ingresado los campos de la alarma podrá presiona el boton Guardar.</p>
					
				Enlazar Correspondencia:<p>
					Deberá llenar los campos requeridos y seguidamente seleccionar la 
					opción "Con Enalce" que se encuentra debajo de las alarmas, despues 
					de ello podrá presionar el botón Guardar. El sistema nos llevará a la 
					ventana de enlace, con la correspondencia recien ingresada en el campo 
					del documento 1. Seguidamente se ingresa según el criterio de busqueda 
					la correspondencia que deseo enlazar en el documento 2, esta aparecera 
					en el cuadro de la derecha, se presiona el simbolo más(+) de la correspondencia 
					que va a enlazar y luego presiono el botón realizar enlace. Al terminar la acción 
					con exito el sistema lo devolverá a la página de ingreso de correspondencia</p>
					
				Eliminar Alarmas del Dia:<p>
					En el cuadro de las alarmas del dia aparecerán todas las alarmas 
					programadas para ese día. Cada una de ellas tendra un botón, el cual 
					para eliminar alguna alarma deberá ser presionado.</p>
					
					Nota: La correspondencia puede ser ingresada al sistema sin ninguna 
					alarma ni enlace.
				</tbody> 
	       </center>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button></center>	
      </div>
    </div>

  </div>
  </div>  <!-- fin del popup de ayuda --> 
	  
	  
	    <!---Cuerpo--->
	   <a href='#' onclick='subePagina();return false' title='Ir Arriba'></a><!--Para subir la pagina-->
	   <body background="../images/situn4.png" ng-app ng-controller = "ControllerAngular">
	
    <form name = "Formulario" id="Formulario">
	   <div class="col-md-4"> 
         <span class="text-danger"><h4>Ingreso de Correspondencia</h4></span>
            
            <table id ="tablaIC">
              <tbody>
						    <tr>
                  <td> <label class="text-danger">Fecha Recibido</label></td>
                  <td> 
                    <div class='input-group date' id='datetimepicker4'>
          				    <input type='text' class="form-control" id="IC1" name="IC1" data-toggle="tooltip" data-placement="right" title="Fecha invalida o mayot a la de oficio"/>
          					  <span class="input-group-addon">
            				    <span class="glyphicon glyphicon-calendar"></span>
          					  </span>
        				    </div>
					        </td>
                </tr>
                <tr>
                  <td> <label class="text-danger">N° Oficio</label> </td>
                  <td>
                    <div  id="div2" class="form-group">
                      <textarea id="IC2" name = "IC2" data-toggle="tooltip" data-placement="right" title="N° oficio imcompleto"type="text" class="form-control"></textarea>
					            <label class="text-danger" style="">
                        <input  type="checkbox" id="IC12" name= "IC12" onchange="checkCampoOficio()" value="first_checkbox">Sin Oficio
                      </label>
                    </div>
                  </td>           
					      </tr>
                <tr>
                  <td><label class="text-danger">Fecha Oficio</label></td>
                  <td> 
                   	<div class='input-group date' id='datetimepicker3'>
          				    <input type='text' class="form-control" id="IC3" name="IC3" data-toggle="tooltip" data-placement="right" title="Fecha invalida o menor a la de recibido" />
          					  <span class="input-group-addon">
            					  <span class="glyphicon glyphicon-calendar" ></span>
          					  </span>
        				    </div>
					        </td>
                </tr>
                <tr>
                    <td> <label class="text-danger">Destinatario </label></td>
                    <td>
                      <div id="div4" class="form-group">
                        <textarea id="IC4" name="IC4" data-toggle="tooltip" data-placement="right" title="Datos de destinatario imcompletos" type="text" class="form-control"></textarea>
                      </div>
                    </td> 
                </tr>
				        <tr>
                  <td> <label class="text-danger">Copia </label></td>
                  <td>
                    <div id="div5" class="form-group">
                      <textarea id="IC5" name="IC5" data-toggle="tooltip" data-placement="right" title="Datos de copia imcompletos" type="text" class="form-control"></textarea>
					            <label class="text-danger" style="">
                        <input  type="checkbox" id="check_SinCopia" name="check_SinCopia" value="first_checkbox" onchange="checkCampoCopia()">Sin Copia
                      </label>
                    </div>
                  </td>
			          </tr>
				        <tr>
                  <td> <label class="text-danger">Remitente </label></td>
                  <td>
                    <div id="div6" class="form-group">
                      <textarea type="text" class="form-control" id="IC6" name="IC6" data-toggle="tooltip" data-placement="right" title="Datos de remitente imcompletos"></textarea>
                    </div>
                  </td>               
			         </tr>
                <tr>
                    <td> <label class="text-danger">Asunto</label></td>
                    <td>
                      <div id="div7" class="form-group">
                        <textarea id="IC7" name="IC7" data-toggle="tooltip" data-placement="right" title="Datos de asunto imcompletos" type="text" class="form-control" rows=4 cols=30></textarea>
                      </div>
                    </td> 
                </tr>
				        <tr>
                  <td> <label class="text-danger">Recibido</label></td>
                  <td>
                    <div id="div8" class="form-group">
                      <input id="IC8" name="IC8" data-toggle="tooltip" data-placement="right" title="Datos de recibido imcompletos" type="text" class="form-control"  ng-model="usuario" disabled/> 
                    </div>
                  </td> 
                </tr>
				        <tr>
                  <td> <label class="text-danger">Trasladado a</label></td>
                  <td>
                    <div id="div9" class="form-group">
                      <textarea type="text" class="form-control" id="IC9" name="IC9" data-toggle="tooltip" data-placement="right" title="Datos de estado imcompletos"></textarea>
                    </div>
                  </td>
                </tr>
                <tr>
                    <td> <label class="text-danger">Observaciones</label></td>
                    <td>
                      <div id="div10" class="form-group">
                        <textarea type="text" class="form-control" id="IC10" name="IC10" ></textarea>
                      </div>
                    </td>
                </tr>
                <tr>
                  <td >
                    <center>
                      <button type="submit" class="btn btn-default">Guardar</button>
					        </td>
                  <td >
                    <center>
                      <button type="button" class="btn btn-default" onclick="botonCancelar()">Cancelar</button>
                  </td>
                </tr>
						  </tbody>
		        </table>  
         
		</div>
	
	   
	    
		<div class="col-md-2 form-group"> <!--Genera el espacio entre componentes-->	 
			<span class="text-danger"><h4>Alarma</h4></span>
                <label class="text-danger">Fecha Aviso</label>
                  
					<div class='input-group date' id='datetimepicker5'>
          					<input type='text' class="form-control" id="IC14" name="IC14"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar"></span>
          					</span>
        				</div>
				<label class="text-danger">Fecha límite</label>
			
				<div class='input-group date' id='datetimepicker6'>
          					<input type='text' class="form-control" id="IC13" name="IC13"/>
          					<span class="input-group-addon">
            					<span class="glyphicon glyphicon-calendar"></span>
          					</span>
        				</div>
				
        
				<label class="text-danger" style=""><input  type="checkbox" id="enlace_checkbox" name="enlace_checkbox" value="enlace_checkbox">Con Enlace</label>
				
				<!-- Inicio Adjuntar -->
				<div class="input-group">
                <label class="input-group-btn">
                    <span class="btn btn-danger">
                        <img src="../../../../images/adjuntar.png" width="20" height="20" /> <input id ='adjun' onchange = "dato_Adjunto()" style="display: none;" accept=".pdf" type="file">
                    </span>
                </label>
                <input id='input_adjunto' name='input_adjunto' class="form-control" readonly="" type="text" style="width:150px" disabled>
            </div>
			<!-- Fin Adjuntar -->
				
		<div style="margin-top:60px"><label id="mensaje" class="text-danger"></div>
		 </div>
     </form> 
	
		<div class="col-md-1 "></div><!--Genera el espacio entre componentes-->	
		
			<div class="col-md-4"> 			
			
			<div class="panel panel-danger"  style=" border-radius: 5px 5px 5px 5px;"><!---div alarmas-->
			<center><span class="text-danger"><h4>Alarmas del día</h4></span>
			</center>	
			 <div  align="left" class="table table-bordered"  style="height: 250px;   overflow-y:auto;">

			<table class="table" id="tabla_busqueda" >
			<!--<table class="table" > -->
			<thead> 
			    <tr class="danger">
				<td></td>
			      <td>Nº Oficio</td>
			      <td>Fecha de aviso</td>
			      <td>Fecha de límite</td>
			    </tr>
				   </thead> 
			<!--	</table> -- VER-->
   
		  <tbody>
			<tr ng-repeat = "c in alarmas">
	
					<td> <button   ng-click="visto(c)"  data-toggle="modal" data-target="#myModal"  >-</button> </td>
					<td ng-dblclick="BuscarCorrespondencia(c)" ng-mouseover="sobre()"  ng-mouseleave="fuera()"> {{c.tc_3}}</td>
					<td> {{c.ta_3 | date:'dd/MM/yyyy'}} </td>
					<td> {{c.ta_2 | date:'dd/MM/yyyy'}} </td>
			
			</tr>
			
		</tbody>    
	        </table>
			
			</div> 
		   </div>
		
	      <link rel="stylesheet" href="\..\stylesheets\datepicker.css">
            <center><div  id="calend" style="background-color:#60161E;  color:white;" ></center><!-- div calendario-->
			   
				<script src="\..\javascripts/bootstrap-datepicker.js"></script> <!---Si se borra el pierde trate de acomodarlo 
		        en donde estan los otros js pero dice que no se encuentran, como que este y el bootstrap-datepicker.min.js chocan-->	
			</div>
		
		</div>
		
<div id="myModal" class="modal fade" tabindex="-1" role="dialog"  style="margin: 0 auto;  width:400px; height:175px;">
  <div class="modal-dialog" role="document" style="width:400px; height:100px;">
    <div class="modal-content" >
      <div class="modal-header">
       <center><h4 class="modal-title" >Esta seguro de que desea quitar la alarma?</h4>
      </div>
      <div class="modal-footer">
        <center><button type="button" data-dismiss="modal" class="btn btn-primary" id="IC15" >Aceptar</button>
		 <a href="#"  onclick="location.reload()"  class="btn btn-primary">Cancelar</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
         
      
    
 <script src="\..\javascripts/Correspondencia.js"></script>
	   
	  
  
	   
<script type="text/javascript">

let app = angular.module('app', []);
 
   app.controller('ControllerAngular', controllerAngular); 
  
 $( document ).ready(function() {

//$("#menuDiv").load("/HTML/menu", function(){$("#ICM").addClass("activa");}); 

 $('#Formulario input, #Formulario textarea').tooltipster({
        trigger: 'custom',
        onlyOne: false,
        position: 'right'
    });


   validator = $('#Formulario').validate({
          debug: true,
        errorPlacement: function (error, element) {
            $(element).tooltipster('update', $(error).text());
            $(element).tooltipster('show');
        },
         success: function (label, element) {
            $(element).tooltipster('hide');

        },
          rules: {
            IC1: { // Fecha de recibido
              required: true,
              menorIgualHoy: true
            },
            IC2: { // # de oficio
              required: true
            },
            IC3: { // Fecha de oficio
              required: true,
              menorIgualFecha:"#IC1"
            },
            IC4: { // Destinatario
              required: true
            },
            IC5: { // Copia 
              required: true
            },
            IC6: { // Remitente
              required: true
            },
            IC7: { // Asunto
              required: true
            },
            IC8: { // Recibido por
              required: true
            },
            IC9: { // Trasladado a
              required: true
            },
            IC13: { // Fecha Limite Alarma
              mayorIgualFecha: "#IC14"
            },
            IC14: { // Fecha Aviso Alarma
              mayorIgualHoy: true
            }
          },
          messages: {
            IC1: {
              required: "Campo requerido",
              menorIgualHoy: "La fecha de recibido no puede ser mayor a la fecha de hoy"
            },
            IC2: {
              required: "Campo requerido"
            },
            IC3: {
              required: "Campo requerido",
              menorIgualFecha: "La fecha de oficio no puede ser mayor que la fecha de recibido"
            },
            IC4: {
              required: "Campo requerido"
            },
            IC5: {
              required: "Campo requerido"
            },
            IC6: {
              required: "Campo requerido"
            },
            IC7: {
              required: "Campo requerido"
            },
            IC8: {
              required: "Campo requerido"
            },
            IC9: {
              required: "Campo requerido"
            },
            IC13: {
              mayorIgualFecha: "La fecha limite no puede ser menor a la fecha de aviso"
            },
            IC14: {
              mayorIgualHoy: "La fecha de aviso no puede ser menor a la fecha de hoy"
            }
          },
          submitHandler: function(form) {
             console.log('Intentando ingresar un Correspondencia'); 
             //botonGuardar();         
             angular.element($('#IC5')).scope().guardarCorrespondencia();  
            }
        });

   $.validator.addMethod("menorIgualFecha",
        function(value, element, param) {
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date($(param).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            return (i <= j) ? true : false;
        }
    );
   $.validator.addMethod("mayorIgualFecha",
        function(value, element, param) {
            if(value == '' && $(param).val()=='') return true;
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date($(param).val().replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            return (i >= j) ? true : false;
        }
    );
   $.validator.addMethod("menorIgualHoy",
        function(value, element, param) {
          if(param == false) return true;
            var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
            var j = new Date();
            return (i <= j) ? true : false;
        }
    );

   $.validator.addMethod("mayorIgualHoy",
        function(value, element, param) {
          if(param == false) return true;
          if(value == '') return true;

          var date = new Date();
          var i = new Date(value.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
          var j = new Date(moment(new Date ).format('MM-DD-YYYY'));

            console.log(i);
            console.log(j);
            return (i >= j) ? true : false;
        }
    );
  solicitarInformacionDeSesion("#ICM");

  

});

 


/**
* Funciones de los calendarios de la pagina
**/


$(document).ready(function () {  //Calendario que se muestra en la pagina
                
                
                $('#calend').datepicker({
                });       
     });
$('#datetimepicker4').datetimepicker({
   		format: 'DD-MM-YYYY', 
   		showClear:true,
   		defaultDate: new Date()
	});
 
    $('#datetimepicker3').datetimepicker({
   		format: 'DD-MM-YYYY', 
   		showClear:true
	});
    $('#datetimepicker5').datetimepicker({
   		format: 'DD-MM-YYYY', 
   		showClear:true
	});

    $('#datetimepicker6').datetimepicker({
    	format: 'DD-MM-YYYY', 
   		showClear:true
    });
	
</script>
    </body>
</html>